---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>

     {% include header.html %}

    <div>
      Whoot gh-pages!
    </div>
    <div>
      <ul>
        <li>
          <a href="INSTALL.html">INSTALL</a>
        </li>
        <li>
          <a href="ADVANTAGES.html">ADVANTAGES</a>
        </li>
        <li>
          <a href="EXAMPLES.html">Markdown examples</a>
        </li>

    </div>

  <div>
    Posts
    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  </body>
</html>

